.DS_Store
*.pdf
*.csv
CriticalRadius/
Failure/
Figures/
IAVCEI Figs/
MSHFigures/epe-conduit.eps
bubbles.m
createpcolorplots.m
failureandviscosity.m
for-Koyaguchi/
gridsearch_2.m
incoodes.asv
interphase.m
lambda_rvec.txt
multiphase.jpg
multiphase_test/
multiphase_test_2/
nofragment.jpg
paperfigs/
plam5.txt
plotBalanceEquations.asv
plotbalances.m
radiustest.m
repP.eps
repp2.eps
shearstresstest.m
taulam5.txt
taustar_derivation.m
testfmg.m
testmodelspace.m
textprogressbar.m
three_solutions.asv
to_unprimed.m
total_eruption_search.m
twophaseODE.asv
